body {
    font-size: 1rem;
    font-weight: 200;
    align-content: center;
    line-height: 1.5;
}

h1 {
    font-weight: 400;
    color: black;
    font-size: 75px;
    line-height: 1.2;
}

p {
    font-size: 1.5rem;
}

p,
h1 {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

label {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

input,
button,
select,
textarea {
    margin: 1;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
}

.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}